/*
--maing-bg-color: #313131;
--ligth-white:whitesmoke;
--light-blue:#8EAEFF;

*/
.container {
  min-height: 100vh;
  padding: 0 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-out;
}

.main {
  padding: 5rem 0;
  width: 100%;
  /*min-width: 362.05px;*/
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  
}

.navbar a{
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0 35px;
  height: 20vh;
  white-space: nowrap;
}

/*
.hamburguerLine + span:nth-last-child(2){
  background-color: red;
  opacity: 0;
}

.hamburguerLine + span:nth-last-child(1){
  position: relative;
  background-color: pink;
  transform: rotate(45deg)  translate(-5px, -5px)
}

.hamburguerLine{
  position: relative;
  background-color: green;
  transform: rotate(-45deg)  translate(-4px, 3px)
}
*/

.greetings{
  color: whitesmoke;
  font-size: 3rem;
  display: flex;
  text-align: left;
  justify-content: left;
  height: 100vh;
  overflow-x: hidden;
  transition: all .4s ease-in-out;
}

.greetings span{
  display: flex;
  flex-wrap: nowrap;
}

 .typeWriter{
  color: #8EAEFF;
}

.greetings span:nth-last-child(-n+2){
  display:inline;
  flex-wrap: wrap;
}

.greetingsImage{
  position: absolute;
  top:180px;
  right: 0;
}

#hamburguer {
  display: none;
  visibility: hidden;
}
#menu {
 display: flex;
  visibility:visible;
}



.greetingsImage img{
  position: relative;
  transform: rotate(290deg);
  margin-right: -400px !important;

}

.title{
  color: #8EAEFF;
  font-size: 3.5rem;
}



/* Title */
.experience section p{
  font-size: 1.5rem;
}

.experience section p span {
  font-size: 1.2rem;
}
/* Title */
.experience article div {
  font-size: 1.5rem;
}

/* Title */
.experience article li {
  font-size: 1.3rem;
  margin-left: 25px;
}

.experience article li:last-child {
  margin-bottom: 100px;
}

.aboutme{
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100vh;
}

.rightTitle{
  color: #8EAEFF;
  font-size: 3.5rem;
  text-align: right;
  width: 100%;
}


.cardText{
  max-width: 50ch;
  color:whitesmoke;
  font-size: 1.4rem;
  float: right;
}

.skills{
  height: 100vh;
}

.projects{
  height: 100vh;
}
.skillsRow{
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}
.skillcard{
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 140px;
  justify-content: left;
  padding: 10px 30px 10px 0;
}

.logo{
 order: 1;
 width: 3.5rem;
 height: 3.5rem;
 border-radius: 50%;
 padding: 3px;
}

.logo-bg-dark{
  background: #212121;
}

.logo-bg-light{
  background: whitesmoke;
}

.logoDescription{
  color:whitesmoke;
  order:2;
  height: 3rem;
  padding-left: 10px;
}

.valign {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Project Card */


.projects{
 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.projectCardContainer{
  padding: 15px;
}
.projectCard{
  display: flex;
  min-width: 200px;
  width: 500px;
  min-height: 100px;
  height: 300px;
  border: 1px solid #8EAEFF;
  margin:0;
  
  background-color: grey;
}

.footer{
  height: 20vh;
  bottom: 0;
}

@media (max-width: 1101px) {
  .container {
    padding: 0 7rem;
    transition: all .2s ease-out;
  }

  .greetingsImage img{
    margin-right: -350px !important;
  }
}

@media (max-width: 768px) {

  .container {
    padding: 0 3rem;
    transition: all .2s ease-out;
  }

  #menu {
    display: none !important;
    visibility:hidden;
  }

  #hamburguer {
    display: block ;
    visibility: visible;
    
  }

  .hamburguerButton{
    background: transparent;
    border: none;
    overflow: hidden;
    outline:none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 20px;
    cursor: pointer;
    transition: all .2s ease-out;
    position: fixed;
    float: left;
    left:0;
    top: 0;

  }

  .hamburguerButton:focus{
    background-color: transparent;
  }
  .hamburguerButton:active{
    background-color: transparent;
  }
  .hamburguerButton:hover{
    background-color: transparent;
  }

  .hamburguerLine{
    transition: all .2s ease-out;
    display: block;
    background-color: #8EAEFF;
    height: 3px;
    width: 20px;
    padding: 2px 2px;
    margin: 2px;
    opacity: 1;
  }
  
  .middleHamb{
    background-color: red;
    opacity: 0;
  }

  .bottomHamb{
    position: relative;
    
    transform: rotate(45deg)  translate(-5px, -5px)
  }

  .topHamb{
    position: relative;
    
    transform: rotate(-45deg)  translate(-4px, 3px)
  }

  .greetings{
    font-size: 2rem;
    transition: all .4s ease-in-out;
  }
}


@media (max-width: 540px) {


  .greetingsText:nth-last-child(2){
    width:15ch;
  }

  .greetingsImage{
      position: absolute;
  }
  
  .greetingsImage img{
    margin-right: -150px !important;

  }
}

@media (max-width: 373px) {
  .container{
    padding: 0 1rem;
    transition: all .2s ease-out;
  }
  .greetings{
    font-size: 1rem;
    transition: all .2s ease-out;
  }
  .greetingsImage img{
    margin-right: -100px !important;

  }
}