/*
--maing-bg-color: #313131;
--ligth-white:whitesmoke;
--light-blue:#8EAEFF;

*/
.container {
  min-height: 100vh;
  padding: 0 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar{
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  
}

.navbar a{
  display: flex;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.4rem;
  margin: 0 35px;
  height: 20vh;
}


.greetings{
  color: whitesmoke;
  font-size: 3rem;
  display: flex;
  text-align: left;
  justify-content: left;
  height: 80vh;
  overflow-x: hidden;
}

.greetings span{
  display: flex;
  flex-wrap: nowrap;
}

 .typeWriter{
  color: #8EAEFF;
}

.greetings span:nth-last-child(-n+2){
  display:inline;
  flex-wrap: wrap;
}

/*.greetings span:last-child{
  display: none
}*/

.greetingsImage{
  position: absolute;
  top:180px;
  right: 0;
}

.greetingsImage img{
  position: relative;
  transform: rotate(290deg);
  margin-right: -400px !important;

}

.title{
  color: #8EAEFF;
  font-size: 3.5rem;
}



/* Title */
.experience section p{
  font-size: 1.5rem;
}

.experience section p span {
  font-size: 1.2rem;
}
/* Title */
.experience article div {
  font-size: 1.5rem;
}

/* Title */
.experience article li {
  font-size: 1.3rem;
  margin-left: 25px;
}

.experience article li:last-child {
  margin-bottom: 100px;
}

.aboutme{
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100vh;
}

.rightTitle{
  color: #8EAEFF;
  font-size: 3.5rem;
  text-align: right;
  width: 100%;
}


.cardText{
  max-width: 50ch;
  color:whitesmoke;
  font-size: 1.4rem;
  float: right;
}

.skills{
  height: 100vh;
}

.projects{
  height: 100vh;
}
.skillsRow{
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}
.skillcard{
  position: relative;
  display: flex;
  flex-direction: row;
  min-width: 140px;
  justify-content: left;
  padding: 10px 30px 10px 0;
}

.logo{
 order: 1;
 width: 3.5rem;
 height: 3.5rem;
 border-radius: 50%;
 padding: 3px;
}

.logo-bg-dark{
  background: #212121;
}

.logo-bg-light{
  background: whitesmoke;
}

.logoDescription{
  color:whitesmoke;
  order:2;
  height: 3rem;
  padding-left: 10px;
}

.valign {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Project Card */


.projects{
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.projectCardContainer{
  padding: 15px;
}
.projectCard{
  display: flex;
  min-width: 200px;
  width: 500px;
  min-height: 100px;
  height: 300px;
  border: 1px solid #8EAEFF;
  margin:0;
}

